#content{
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #000000;
}
#menu{
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #000000;
}