.clear{
	clear:both;
}
body { margin: 10px 0 0; background: #fff; font: .74em "Trebuchet MS", Arial, Sans-Serif; color: #444; }
.center{padding: 10px;}
#menu{
    width: 98%;
    padding: 10px;
    border-radius:3px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
#menucp{
    margin-right: 5px;
    font-size: 16px;
}
#activ{
    color: #ffffff;
    padding:3px;
    border: solid 1px dimgray;
    border-radius: 5px;
    text-decoration: none;
    background-color: darkred;
}
#content{
    width: 98%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
.list {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}


